## The Weather Dataset

###### Here, The Weather Dataset is a time series data set with per hour information about the weather conditions at a particular location situated at Cork, Ireland at station Roches Point since 2004. It records Precipitation Amount(mm), Air Temperature(C), Dew Point Temperature, Relative Humidity(%), Mean Wind Speed(kt), Visibility, Mean Sea Level Pressure(hPa), and Predominant Wind Direction(deg). I analyzed this data set with Pandas. 
###### Station Height: 40 M 	
###### Latitude:51.793 / Longitude: -8.244
###### Source data: www.met.ie (Met Ã‰ireann)

## Import Libraries

In [2]:
import pandas as pd

## Data Acquisition and Collection
###### Acquire the necessary data from historical_hourly_weather.csv

In [3]:
data = pd.read_csv("../data/historical_hourly_weather.csv")
data.head()

/home/felipe/.local/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3508: DtypeWarning: Columns (2,4,6,7,8,9,10,12,14) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

,date,ind,rain,ind.1,temp,ind.2,wetb,dewpt,vappr,rhum,msl,ind.3,wdsp,ind.4,wddir
0,01-dec-1955 01:00,0,0.0,0,10.7,0,10.0,9.4,11.8,91,1002.1,1,16,1,170
1,01-dec-1955 02:00,0,2.9,0,9.8,0,9.7,10.0,12.0,99,1001.8,1,11,1,190
2,01-dec-1955 03:00,0,3.8,0,9.7,0,9.5,9.4,11.7,97,1001.7,1,9,1,160
3,01-dec-1955 04:00,0,0.8,0,9.8,0,9.7,9.4,11.9,98,1001.6,1,5,1,140
4,01-dec-1955 05:00,0,0.3,0,8.9,0,8.7,8.3,11.1,97,1001.6,1,12,1,330

## Exploratory Data Analysis (EDA)
###### Explore and analyze the dataset to understand its key characteristics

In [12]:
print(f"Shape: {data.shape}\n")
print(f"Index: {data.index}\n")
print(f"Columns: {data.columns}\n")
print(f"Data Type each column: {data.dtypes}\n")

Shape: (578255, 15)

Index: RangeIndex(start=0, stop=578255, step=1)

Columns: Index(['date', 'ind', 'rain', 'ind.1', 'temp', 'ind.2', 'wetb', 'dewpt',
       'vappr', 'rhum', 'msl', 'ind.3', 'wdsp', 'ind.4', 'wddir'],
      dtype='object')

Data Type each column: date     object
ind       int64
rain     object
ind.1     int64
temp     object
ind.2     int64
wetb     object
dewpt    object
vappr    object
rhum     object
msl      object
ind.3     int64
wdsp     object
ind.4     int64
wddir    object
dtype: object